config.env
#package.json
#Procfile

node_modules

server/data/db/*
server/node_modules
server/request.rest

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

#Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?